<!-- Add City Form -->
<div class="add-city" fxLayout="row" fxLayoutAlign="center center">
  <form class="form" fxFlex floatLabel="never">
    <mat-form-field class="field" appearance="outline">
      <mat-label>City</mat-label>
      <input #cityname matInput placeholder="Ex. San Francisco" />
    </mat-form-field>
  </form>
  <button
    matSuffix
    fxFlex="6%"
    fxFlex.md="8%"
    fxFlex.sm="10%"
    fxFlex.xs="15%"
    mat-raised-button
    color="primary"
    style="margin-top: -1.1rem; height: 44px; border-radius: 2px"
    (click)="addCity(cityname)"
  >
    Add city
  </button>
</div>

<div class="content" fxLayout="row">
  <div fxFlex=14%  fxFlex.xs=10%  ></div>
  <div
    fxLayout="row wrap"
    fxLayoutGap="40px grid"
    fxLayoutAlign="center center"
  >
    <div
      fxFlex
      fxFlex.xs=100%
      fxFlex.gt-xs=90% 
      fxFlex.gt-sm=85%
      fxFlex.gt-md=44%
      fxFlex.gt-lg=30%
      *ngFor="let weather of localWeatherReport; let i = index"
      (click)="selectCity(weather.id)"
    >
    <!-- Mat card start -->
      <mat-card
        class="mat-elevaation-z4"
        fxLayout="column"
        fxLayoutAlign="space-between"
        [style]="cardStyle[i]"
      >
      <!-- card remove/close button -->
        <div class="close-btn" align="end" style="margin-top: -1rem; margin-right: -1rem">
          <button mat-icon-button (click)="removeCity(i)"><mat-icon>clear</mat-icon></button>
        </div>
        <!-- card top content -->
        <div
          fxLayout="row"
          fxLayoutAlign="space-around"
          fxLayout="row"
          fxLayoutGap="30px"
        >
        
          <div class="left">
            <div class="city">{{weather.name}}, {{weather.sys.country}}</div>
            <div class="time">{{weather.dt*1000 | date:'h:mm a, MMM d'}}</div>
            <div class="description">{{weather.weather[0].description}}</div>
          </div>
          <div class="right">
            <div class="temp">{{weather.main.temp | number: '1.0-0'}}°C</div>
            <div class="max-temp">Temp min: {{weather.main.temp_min | number: '1.0-0'}}°C</div>
            <div class="min-temp">Temp max: {{weather.main.temp_max | number: '1.0-0'}}°C</div>
          </div>
        </div>
      <!-- card bottom content -->
        <mat-card-actions>
          <div fxLayout="row" fxLayoutAlign="space-evenly center" class="card-bottom">
            <div class="start">
              <div>Pressure: {{weather.main.pressure}}hpa</div>
              <div>Humidity: {{weather.main.humidity}}%</div>
              <div>Visibility: {{weather.visibility/1000}}km</div>
            </div>
            <div
              class="vertical"
              style="
                border-left: 1px solid grey;
                height: 40px;
                position: relative;
              "
            ></div>
            <div
              class="mid"
              fxLayout="column"
              fxLayoutAlign="space-between center"
            >
              <div><mat-icon> near_me</mat-icon></div>
              <div>{{weather.wind.speed}}m/s {{weather.wind.deg}} Degree</div>
            </div>
            <div
              class="vertical"
              style="
                border-left: 1px solid grey;
                height: 40px;
                position: relative;
              "
            ></div>
            <div class="end">
              <div>Sunrice: {{weather.sys.sunrise*1000 | date: 'h:mm a'}}</div>
              <div>Sunset: {{weather.sys.sunset*1000 | date: 'h:mm a'}}</div>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
      <!-- mat card end -->
    </div>
  </div>
  <div fxFlex=14%  fxFlex.xs=10%   ></div>
</div>
