.content {
  padding: 16px;
  margin-top: 1rem;
  margin-bottom: 4rem;

  //cards styling
  mat-card {
    color: white;
    //width: 1200px;
    height: 250px;
    border-radius: 5px;
    background: repeating-linear-gradient(
      #388ee7,
      #388ee7 64.9%,
      #30333d 35.1%,
      #30333d 100%
    );
    mat-card-title {
      font-size: 30px;
    }
    mat-card-subtitle {
      text-align: center;
      font-size: 14px;
      color: rgb(212, 208, 208);
      margin-top: 4px;
    }
    mat-card-content {
      font-size: 18px;
      margin-top: -5rem;
    }

    mat-card-actions {
      font-size: 12px;
      margin-bottom: 0rem;
    }
  }
}

//add city form and button styling
.add-city {
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-size: 12px;
  .form {
    //min-width: 150px;
    max-width: 350px;
    width: 100%;
    //color: white;
  }
  .field {
    width: 100%;
    //background-color: honeydew;
    color: white;
    mat-label {
      color: honeydew;
    }
  }
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: #1f2128;
    border-radius: 2px;
  }
}

//mat-card content styling
.left {
  margin-top: -1.8rem;
  .city {
    font-size: 30px;
    font-weight: bold;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-bottom: 0.8rem;
  }
  .time {
    font-size: 14px;
    margin-bottom: 1rem;
  }
  .description {
    font-size: 18px;
  }
}

.right {
  margin-top: -1.4rem;
  margin-right: 1rem;
  .temp {
    font-size: 46px;
    margin-bottom: 2rem;
  }
}

// .card-top-container{
//   background-image: url('../../../assets/cloud.png');
//   background-position: center;
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-clip: content-box;
//   //background-attachment: fixed;
//   height: 300px;
// }


//tablet
@media only screen and (max-width: 780px) {
  .left {
    margin-top: -1.8rem;
    .city {
      font-size: 22px;
      font-weight: bold;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      margin-bottom: 0.8rem;
    }
    .time {
      font-size: 12px;
      margin-bottom: 1rem;
    }
    .description {
      font-size: 12px;
    }
  }
  .right {
    margin-top: -1.4rem;
    margin-right: 1rem;
    .temp {
      font-size: 38px;
      margin-bottom: 2rem;
    }
    .max-temp {
      font-size: 12px;
    }
    .min-temp {
      font-size: 12px;
    }
  }
}

@media only screen and (max-width: 1900px) {
  .left {
    .city {
      font-size: 27px;
      font-weight: bold;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      margin-bottom: 0.8rem;
    }
  }
}


// Create mobile responsive - iphone 6/7/8 plus
@media only screen and (max-width: 500px) {
  mat-card{
    height: 200px;
  }
  .left {
    .city {
      font-size: 20px;
      font-weight: bold;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      margin-bottom: 0.2rem;
    }
    .time {
      font-size: 10px;
    }
    .description {
      font-size: 12px;
    }
  }
  .right {
    .temp {
      font-size: 30px;
    }
  }

  .card-bottom {
    font-size: 10px;
  }

  .add-city {
    
    .form {
      //min-width: 150px;
      max-width: 280px;
      width: 100%;
      //color: white;
    }
    .field {
      width: 100%;
      //background-color: honeydew;
      color: white;
      mat-label {
        color: honeydew;
      }
    }
    
  }
  .add-city{
    button{
      font-size: 10px;
    }
    
  }
  .close-btn{
    mat-icon{
      font-size: 12px;
      font-weight: bold;
    }
  }
}
