.main-container{
    //min-height: 90%;
    width: 100%;
    background-color: #1f2128;
    background-image: url("../../../assets/banner.png");
    //background-attachment: fixed;
    background-size: contain;
    background-position: center top; 
    background-repeat: no-repeat;
    
    
   // color: white;
 }
 .title{
     color: white;
     margin-top: 8rem;
     //margin-bottom: 1rem;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-weight: bold;
 }

 mat-toolbar{
    background-color: #30333d;
    height: 100px;
    span {
        font-size: medium;
        color: grey;
        text-align: center;
        display: inline-block;
        width: 100%;
      }
}
