<div class="main-container" fxLayout="column" fxLayoutAlign="space-around">
  <div
    class="title"
    fxFlex
    fxFlex.xs="20"
    fxLayout="row"
    fxLayoutAlign="center center"
  >
    <div><img src="../../../assets/logo.png" alt="" /></div>
    <h1>Weather App</h1>
  </div>
  <div class="page-content" fxFlex>
    <router-outlet></router-outlet>
  </div>
</div>
<div class="footer">
  <mat-toolbar>
    <span>2021 Fidenz Technologies</span>
  </mat-toolbar>
</div>
