.card {
  margin-top: 1.8rem;
  margin-bottom: 4rem;
  mat-card {
    color: white;
    width: 1200px;
    height: 600px;
    border-radius: 10px;
    background: repeating-linear-gradient(
      #388ee7,
      #388ee7 64.9%,
      #30333d 35.1%,
      #30333d 100%
    );
  }

  .card-header {
    font-size: 40px;
    margin-top: -5rem;
  }
  .card-subtitle {
    text-align: center;
    font-size: 14px;
    color: white;
    margin-top: 1.2rem;
  }
  .card-content {
    font-size: 18px;
    margin-top: -5rem;
  }

  .mat-icon {
    font-size: x-large;
  }
  .back-btn {
    margin-top: -4rem;
    margin-bottom: -1rem;
    margin-left: 0.2rem;
  }

  .temp {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  .left {
    color: white;
    .weather-icon {
      mat-icon {
        font-size: 40px;
        margin-bottom: 1rem;
        margin-left: 2rem;
      }
    }
    .description {
      font-size: medium;
      //margin-left: 1.5rem;
    }
  }
}

@media only screen and (min-width: 1280px) {
  .card {
    .card-header {
      font-size: 45px;
    }
    .card-subtitle {
      text-align: center;
      font-size: 16px;
      color: white;
      margin-top: 1.2rem;
    }
    .card-content {
      font-size: 24px;
      margin-top: -5rem;
    }
    .right {
      font-size: medium;
      .temp {
        font-size: 60px;
      }
    }
    .left {
      .weather-icon {
        mat-icon {
          font-size: 60px;
          margin-bottom: 3rem;
          margin-left: 1rem;
        }
      }
      .description {
        font-size: medium;
      }
    }
  }
  .card-bottom {
    font-size: 15px;
  }
}

@media only screen and (max-width: 480px) {
  .card-bottom {
    font-size: 12px;
  }
}
