<div class="card" fxLayout="row" fxLayoutAlign="space-evenly center">
  <div fxFlex="5%" fxFlex.md="20%" fxFlex.sm="10%"></div>
  <!-- Mat Card Start-->
  <mat-card fxFlex.xs="100%" fxLayout="column" fxLayoutAlign="space-around">
    <div class="back-btn" align="start">
      <button
        mat-icon-button
        [routerLink]="['/home']"
        routerLinkActive="router-link-active"
      >
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
    </div>
    <!-- card top content -->
    <mat-card-header fxLayout="column" fxLayoutAlign="space-around center">
      <mat-card-title class="card-header"
        >{{ selectedWeatherData.name }},
        {{ selectedWeatherData.sys.country }}</mat-card-title
      >
      <mat-card-subtitle class="card-subtitle">{{
        selectedWeatherData.dt * 1000 | date: "h:mm a, MMM d"
      }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="card-content">
      <div
        fxLayout="row"
        fxLayoutAlign="space-evenly center"
        fxLayoutGap="20px"
      >
        <div class="left" fxLayout="column" fxLayoutAlign="space-around">
          <div class="weather-icon"><mat-icon>filter_drama</mat-icon></div>
          <div class="description">
            {{ selectedWeatherData.weather[0].description }}
          </div>
        </div>
        <div
          class="vertical"
          style="
            border-left: 1px solid white;
            height: 100px;
            position: relative;
          "
        ></div>
        <div
          class="right"
          fxLayout="column"
          fxLayoutAlign="space-around center"
        >
          <div class="temp">
            {{ selectedWeatherData.main.temp | number: "1.0-0" }}°C
          </div>
          <div>
            Temp min:
            {{ selectedWeatherData.main.temp_min | number: "1.0-0" }}°c
          </div>
          <div>
            Temp max:
            {{ selectedWeatherData.main.temp_max | number: "1.0-0" }}°c
          </div>
        </div>
      </div>
    </mat-card-content>
    <!-- card bottom content -->
    <mat-card-actions>
      <div
        fxLayout="row"
        fxLayoutAlign="space-evenly center"
        class="card-bottom"
      >
        <div class="start">
          <div>Pressure: {{ selectedWeatherData.main.pressure }}hpa</div>
          <div>Humidity: {{ selectedWeatherData.main.humidity }}%</div>
          <div>Visibility: {{ selectedWeatherData.visibility / 1000 }}km</div>
        </div>
        <div
          class="vertical"
          style="border-left: 1px solid grey; height: 60px; position: relative"
        ></div>
        <div class="mid" fxLayout="column" fxLayoutAlign="space-between center">
          <div><mat-icon> near_me</mat-icon></div>
          <div>
            {{ selectedWeatherData.wind.speed }}m/s
            {{ selectedWeatherData.wind.deg }} Degree
          </div>
        </div>
        <div
          class="vertical"
          style="border-left: 1px solid grey; height: 60px; position: relative"
        ></div>
        <div class="end">
          <div>
            Sunrice:
            {{ selectedWeatherData.sys.sunrise * 1000 | date: "h:mm a" }}
          </div>
          <div>
            Sunset: {{ selectedWeatherData.sys.sunset * 1000 | date: "h:mm a" }}
          </div>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
  <!-- Mat-card end -->
  <div fxFlex="5%" fxFlex.md="20%" fxFlex.sm="10%"></div>
</div>
